body{
    background-color:#2F2C38;
    color:white;
}
.danh-sach-muc{
    /* xóa các dấu ở trước danh sách */
    list-style:none;
    display:flex;
    /* khoảng cách */
    gap:20px;
    align-items: center;
}
.lien-ket-muc{
    /* làm mất dấu gạch ngang ở dưới đường dẫn */
    text-decoration: none;
    color:#DBDBDD;
    font-weight:bold;
}
header{
    /* cho các dữ liệu cùng 1 dòng */
    display:flex;
    /* theo thiều dọc */
    align-items:center;
    /* theo chiều ngang */
    justify-content: space-between;
}
.muc{
    /* độ rộng khung */
    padding:15px;
    /* bo tròn góc ảnh */
    border-radius:25px;
}
/* hover là trỏ tới đâu đổi màu tới đó */
.muc:hover{
    background-color:gray;
}
.logo{
    width:50px;
}

.avata{
    width:50%;
    
}
.dang-chon{
    background-color:#4E4B52;
}
.banner{
   
    width:95%;
    /* height:20vh; */
    margin:20px auto;
    border-radius:20px;
}
.banner-anh{
    width:100%;
    border-radius:20px;
}
.danh-sach-the-loai{
    width:95%;
    height:20vh;
    margin:10px auto;

}
.phim{
    display:flex;
    justify-content: space-between;
    gap:8px;
}
.phim-poster{
    width:20%;
    height:15vh;
    border-radius: 15px;
    background-color:aliceblue;
}
.danh-sach-nhan-vat{
    display:flex;
    justify-content: space-between;
    gap:1px;
}
.nhan-vat{
    width:200px;
    height:200px;
    border-radius:50%;
}
.thong-tin{
    display:flex;
    justify-content:center;
    gap:30px;
    color:gray;
}